__pycache__/*
basemodels/__pycache__/*
configurations/__pycache__/*
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.vscode/
.idea/
deepface.egg-info/
deepface/__pycache__/*
deepface/commons/__pycache__/*
deepface/basemodels/__pycache__/*
deepface/extendedmodels/__pycache__/*
deepface/subsidiarymodels/__pycache__/*
tests/dataset/*.pkl
Age_Gender_Retail_Analysis.ipynb