__pycache__/*
basemodels/__pycache__/*
configurations/__pycache__/*
tests/__pycache__/*
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.idea/
deepface.egg-info/
deepface/__pycache__/*
deepface/commons/__pycache__/*
deepface/basemodels/__pycache__/*
deepface/extendedmodels/__pycache__/*
deepface/subsidiarymodels/__pycache__/*
deepface/detectors/__pycache__/*
tests/dataset/*.pkl
tests/sandbox.ipynb
.DS_Store
deepface/.DS_Store
*.pyc
