requests>=2.27.1
numpy>=1.14.0
gdown>=3.10.1
tqdm>=4.30.0
Pillow>=5.2.0
opencv-contrib-python-headless>=4.5.5.64
Flask>=1.1.2
flask_cors>=4.0.1
fire>=0.4.0
gunicorn>=20.1.0
python-dotenv>=1.0.1
onnxruntime>=1.13.0
retina-face>=0.0.19
pandas>=0.23.4
