numpy>=1.26.2
pandas>=2.1.3
gdown>=3.10.1
tqdm>=4.30.0
Pillow==10.1.0
opencv-python>=4.8.1.78
tensorflow==2.14.0
keras==2.14.0
Flask>=3.0.0
mtcnn>=0.1.1
retina-face>=0.0.13
fire>=0.4.0
gunicorn>=20.1.0
Deprecated>=1.2.13
matplotlib~=3.8.2
requests~=2.31.0
setuptools~=68.0.0