services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: deepface
      POSTGRES_USER: deepface_user
      POSTGRES_PASSWORD: deepface_pass
    # network_mode: "host"
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
  weaviate:
    image: semitechnologies/weaviate:latest
    ports:
      - "8080:8080"  # REST API / GraphQL Playground
    environment:
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      DEFAULT_VECTORIZER_MODULE: "none"
      ENABLE_MODULES: ""
      PERSISTENCE_DATA_PATH: "./data"
    volumes:
      - ./weaviate_data:/var/lib/weaviate

volumes:
  postgres_data:
